<div class="picker">
  <!-- <ion-img class="location-image" [src]="selectedLocationImage" (click)="onPickLocation()" *ngIf="selectedImage"></ion-img> -->
  <ion-img
    role="button"
    class="image"
    (click)="onPickImage()"
    [src]="selectedImage"
    *ngIf="selectedImage"
    width="80" height="80"
  ></ion-img>
  <ion-button
    *ngIf="!selectedImage"
    color="primary"
    (click)="onPickImage()"
  >
    <ion-icon name="camera" slot="start"></ion-icon>
    <ion-label>Upload/Take Picture</ion-label>
  </ion-button>
</div>
<input type="file" #filePicker (change)="onFileChosen($event)"/>