<ion-header>
  <ion-toolbar>
    <ion-title>Create User</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" padding>
  <form (ngSubmit)="onSignUpUser()" #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input
              type="Username"
              ngModel
              name="username"
              required
              username
              #usernameCtrl="ngModel"
            ></ion-input>
          </ion-item>
          <ion-item
              *ngIf="!usernameCtrl.valid && usernameCtrl.touched"
              lines="none"
            >
              <ion-label>
                Should be a valid username.
              </ion-label>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">E-Mail</ion-label>
            <ion-input
              type="email"
              ngModel
              name="email"
              required
              email
              #emailCtrl="ngModel"
            ></ion-input>
          </ion-item>
          <ion-item
            *ngIf="!emailCtrl.valid && emailCtrl.touched"
            lines="none"
          >
            <ion-label>
              Should be a valid email address.
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input
              type="password"
              ngModel
              name="password"
              required
              minlength="6"
              #passwordCtrl="ngModel"
            ></ion-input>
          </ion-item>
          <ion-item
            *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
            lines="none"
          >
            <ion-label>
              Should at least be 6 characters long.
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Retype Password</ion-label>
            <ion-input
              type="password"
              ngModel
              name="password2"
              required
              minlength="6"
              #passwordCtrl2="ngModel"
            ></ion-input>
          </ion-item>
          <ion-item
            *ngIf="passwordCtrl.value != passwordCtrl2.value && passwordCtrl.touched"
            lines="none"
          >
            <ion-label>
              Should match typed password.
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!f.valid"
          >
            Sign up
          </ion-button>
        </ion-col>
        <ion-col size-sm="3">
          <ion-button
            type="close"
            color="primary"
            expand="block"
            (click)="onCancel()"
          >
            Cancel
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
